{
    "refName" : "hbase",
    "serviceType" : "HBASE",
    "roleConfigGroups" : [ {
      "refName" : "hbase-HBASERESTSERVER-BASE",
      "roleType" : "HBASERESTSERVER",
      "base" : true
    }, {
      "refName" : "hbase-REGIONSERVER-BASE",
      "roleType" : "REGIONSERVER",
      "base" : true
    }, {
      "refName" : "hbase-MASTER-BASE",
      "roleType" : "MASTER",
      "base" : true
    }, {
      "refName" : "hbase-HBASETHRIFTSERVER-BASE",
      "roleType" : "HBASETHRIFTSERVER",
      "base" : true
    } ]
}
